<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Inicio de sección">
  <link rel="stylesheet" href="/styles/loginForm.css" type="text/css">
  <meta name="robots" content="index,follow">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@700&display=swap" rel="stylesheet">
  <title>Inicio de sección</title>
  <script type="application/javascript" src="/js/validateFormLoginFields.js"></script>
  <script type="application/javascript" src="/js/login.js"></script>
</head>
<body class="body-container">
  <section class="welcome-container">
    <h2 class="welcome-title">Bienvenid@</h2>
    <p class="welcome-message">Por favor inicie sección para continuar con el acceso a la aplicación</p>
    <div class="logo-container">
      <img class="logo" alt="" src="">
    </div>
  </section>
  <section class="login-form-container">
    <h2 class="login-title">Inicio de sección</h2>
    <form class="login-form" id="loginForm" onsubmit="return handleSubmit(event)">
      <input
        class="login-form-field"
        name="username"
        id="username"
        type="text"
        placeholder="Usuario"
        required
      >
      <input
        class="login-form-field"
        name="password"
        id="password"
        type="password"
        placeholder="Contraseña"
        required
      >
      <p class="wrong-input" id="wrong-input"></p>
      <button type="submit" class="login-form-button">Ingresar</button>
    </form>
    <section class="linksBox">
      <p class="link">Documentación</p>
      <p class="link">Contactar a soporte</p>
    </section>
  </section>
</body>
</html>
